### Etapa 1

Pré - requisitos:
> Python iniciantes

### Etapa 2

#### Criar DataFrama

- Criar DataFrame
- Importar arquivos e bases de dados
- Visualizar DataFrame (print, display, head, shape e describe)

In [2]:
# importar biblioteca
import pandas as pd

# Criar DataFrama
df = pd.DataFrame(
    {"Name": ['Mateus', 'Amanda', 'Stefani'],
    "Age": ['27', '28','45'],
    "Gender": ['Masc', 'Fem', 'Outro']
    }
)

display(df)

      Name Age Gender
0   Mateus  27   Masc
1   Amanda  28    Fem
2  Stefani  45  Outro

In [3]:
# importar base de dados
sales_df = pd.read_excel('Sales.xlsx')

display(sales_df)

# Aplicar outros métodos de visualização
# display(sales_df.head(10))
# display(sales_df.shape)
# display(sales_df.describe())

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670.0,Wired Headphones,2.0,11.99,08/31/19 22:21,"359 Spruce St, Seattle, WA 98101"
1,236671.0,Bose SoundSport Headphones,1.0,99.99,08/15/19 15:11,"492 Ridge St, Dallas, TX 75001"
2,236672.0,iPhone,1.0,700.00,2019-06-08 14:40:00,"149 7th St, Portland, OR 97035"
3,236673.0,AA Batteries (4-pack),2.0,3.84,08/29/19 20:59,"631 2nd St, Los Angeles, CA 90001"
4,236674.0,AA Batteries (4-pack),2.0,3.84,08/15/19 19:53,"736 14th St, New York City, NY 10001"
...,...,...,...,...,...,...
12016,248146.0,Bose SoundSport Headphones,1.0,99.99,08/29/19 22:19,"868 Hickory St, San Francisco, CA 94016"
12017,248147.0,AAA Batteries (4-pack),3.0,2.99,08/31/19 16:26,"206 Lakeview St, Boston, MA 02215"
12018,248148.0,AA Batteries (4-pack),1.0,3.84,2019-02-08 07:25:00,"568 13th St, Seattle, WA 98101"
12019,248149.0,USB-C Charging Cable,1.0,11.95,2019-08-08 12:10:00,"495 Walnut St, San Francisco, CA 94016"
12020,248150.0,AA Batteries (4-pack),1.0,3.84,08/16/19 08:13,"738 Park St, Los Angeles, CA 90001"

### Etapa 3

#### Etapa 3 - Selecionar dados
- Selecionar coluna 
- Selecionar várias colunas
- Selecionar linhas
- Selecionar linhas com condições
- Selecionar linhas e colunas

In [4]:
import pandas as pd

## Buscar uma série (coluna) -> product
# products_series = sales_df['Product']
# display(products_series)

## Buscar várias séries (colunas)
# prod_order_df = sales_df[['Order ID', 'Product']]
# display(prod_order_df)

# # Buscar linhas (Fatiar)
# display(sales_df[:5])

# Buscar linhas com condição
# sale_GPhone_df = sales_df.loc[sales_df['Product'] == 'Google Phone']
# display(sale_GPhone_df)

# Buscar dentro da condição apenas algumas colunas
# sale_GPhone_df = sales_df.loc[sales_df['Product'] == 'Google Phone', ['Order ID', 'Product', 'Price Each']]
# display(sale_GPhone_df)

# Buscar valor especidifo na matriz da tabela
# display(sales_df.loc[(2, 'Product')])

### Etapa 4

#### Editar dados
- Adicionar colunas
- Adicionar linhas
- Agrupar planilhas
- Excluir dados

In [18]:
# # Adicionar coluna no final
# sales_df['Total Price'] = sales_df['Price Each'] * sales_df['Quantity Ordered']
# display(sales_df)

# # Adicionar coluna de forma padrão
# '''Forma errada'''
# sales_df['Vendedor'] = ''
# '''Forma correta'''
# sales_df.loc[:, 'Vendedor'] = ''
# display(sales_df)

# # Adicionar uma única linha
# new_row = pd.DataFrame([[0, 0, 0, 0, 0, 0 ]], columns=['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address'])
# sales_df.loc[len(sales_df)] = new_row.loc[0]
# display(sales_df)

# # Adicionar linhas de outra tabela
# sales_april_df = pd.read_excel('Sales_April_2019.xlsx')
# sales_df = pd.concat([sales_df, sales_april_df])
# display(sales_df)

# # Deletar uma linha
# sales_df = sales_df.drop(len(sales_df)-1)
# display(sales_df)

# # deletar linhas e colunas completamente vazias
# sales_df = sales_df.dropna(how='all', axis=0)
# display(sales_df.shape)

(11957, 6)

### Etapa 5

- Valores vazios
- Cálculo de indicadores

In [6]:
# # Preencher valores vazios com a média da coluna
# sales_df['Price Each'] = sales_df['Order ID'].fillna(sales_df['Price Each'].mean())
# prod_order_df = sales_df[['Order ID', 'Price Each']]
# display(prod_order_df.loc[50:60])

# # Contar valores
# sales_per_product = sales_df['Product'].value_counts()
# print(sales_per_product)

# # Faturamento por produto
# sales_df['Amount'] = sales_df['Price Each'] * sales_df['Quantity Ordered']
# faturamento_produto = sales_df.groupby('Product')['Amount'].sum().reset_index()
# display(faturamento_produto)

# # Média de valores
# sales_df['Amount'] = sales_df['Price Each'] * sales_df['Quantity Ordered']
# mean_produto = sales_df.groupby('Product')['Amount'].mean().reset_index()
# display(mean_produto)

# # Valores máximos
# sales_df['Amount'] = sales_df['Price Each'] * sales_df['Quantity Ordered']
# max_produto = sales_df.groupby('Product')['Amount'].max().reset_index()
# display(max_produto)